<body style="padding:0px   ">
<%= render partial: "navbar/nav" %>
<div id="order-container" style=" height: 700px;">
<table style="    width: 100%;">
<tr>
  <th class="ordertable-head table-center">User Id</th>
  <th class="ordertable-head table-center">Order Id</th>
  <th class="ordertable-head table-center">Order Status</th>
  <th class="ordertable-head table-center">Orderd date</th>
  <th class="ordertable-head table-center">Updated date</th>
  <th class="ordertable-head table-center"></th>
</tr>
  <% @current_user.orders.each do |order| %>
  <tr class="table-center">
    <td><div> <%= order.user_id %></div></td>
    <td><div><%= order.id %></td>
    <td><div> <%= order.status.capitalize() %></td>
    <td><div> <%= order.created_at.strftime("%B %d,%Y %l:%M:%S %p") %></td>
    <td><div> <%= order.updated_at.strftime("%B %d,%Y %l:%M:%S %p") %></td>
    <td><% unless (OrderItem.exists?(order_id: order.id)) %>
        <%= link_to "View Order invoice", order_items_path(order_id: order.id), method: :post %>
      <% else %>
        <%= link_to "View Order Invoice", order_items_path(order_id: order.id), method: :get %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
</div>
</body>
