<div id="dashboard" style="
    display: grid;
    justify-content: center;
    grid-row-gap: 20px;">
    <h1>Reports</h1>
  <div>
    <%= form_with url: customer_details_path, method: :get do |form|%>
      <%= form.date_field :from_date %>
      <%= form.date_field :to_date %>
      <%= form.submit "Show"%>
    <% end %>
  </div>
  <%profit =[] %>
  <%@orders.each do |order| %>
    <% order.order_items.each do |item| %>
      <% profit.push(item.price * item.quantity.to_i) %>
    <% end %>
  <% end %>

  <table>
  <tr style="border:2px solid black">
    <th>Income</th>
    <td><div><span class="currency">&#8377; </span><%= profit.sum %></div></td>
  </tr>
  <tr style="border:2px solid black">
    <th>Profit</th>
    <td><div> <span class="currency">&#8377; </span><%= (profit.sum*30)/100 %></div> </td>
    </tr>
    <tr style="border:2px solid black">
    <th>Expense</th>
    <td><div> <span class="currency">&#8377; </span><%= (profit.sum*50)/100 %></div> </td>
    </tr>
    <tr style="border:2px solid black">
    <th>Loss</th>
    <td><div><span class="currency">&#8377; </span><%= (profit.sum*20)/100 %></div></td>
    </tr>
  </table>
  </div>
