<div id="food-background-image">
  <%# <img src="yellowbackground.png"> %>
  <nav id="nav" class="nav">
    <button class="menu">
      <em class="hamburger"></em>
    </button>
    <div class="brand">
      <a href="#">Logo</a>
    </div>
    <ul class="navigationbar">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Test</a>
      </li>
      <li>
        <a href="#">Test</a>
      </li>
    </ul>
  </nav>

  <div class="describe-about-webpage">
    <h2 id="text-content-1">You want it. We get it.</h2>
    <p id="text-content-2">Food, drinks, groceries, and more available for delivery and pickup.</p>
  </div>
</div>
<div class="main-container">
  <div class="listofcategory">
    <div class="category">
      <h2>Explore by category</h2>
    </div class="menu-categories">
    <div class="category-homepage">
      <%= form_with(url: "/menu_categories", method: "post", class: "AddTodo") do %>
        <%= text_field_tag(:name, nil, class: "AddTodo-text", placeholder: "What's next",autofocus:"autofocus") %>
        <%= submit_tag("Add", class: "AddTodo-button") %>
      <% end %>
      <% MenuCategory.all.each do |category| %>
        <div class="section-one">
          <!--<p onclick="window.location = 'menuitems_path';"><%= category.name%><%=category.id %></p>-->
          <%= link_to "#{category.name}", menu_items_path(category_id: category.id), class:"signup" %>
          <a href="javascript:void(0)" class="MenuItem-delete">
            <%= form_with(url: "/menu_categories/#{category.id}", method: "delete") do %>
              <%= image_submit_tag("trash-can.svg",class:"trash-can") %>
            <% end %>
          </a>
          <a href="javascript:void(0)" class="MenuItem-delete">
            <%= form_with(url: "/menu_categories/edit/#{category.id}", method: "get") do %>
              <%= image_submit_tag("https://img.icons8.com/ios-glyphs/30/000000/edit--v1.png" , class: "Category_update") %>
            <% end %>
          </a>
          <a href="javascript:void(0)" class="MenuItem-delete">
            <%= form_with(url: "/menu_categories/#{category.id}", method: "patch") do %>
              <%= text_field_tag(:name, nil, class: "AddMenu-text", placeholder: "#{category.name}",autofocus:"autofocus") %>
              <%= submit_tag("Edit", class: "AddMenu-button") %>
            <% end %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <%# </div> %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    /*http://callmenick.com/post/expanding-search-bar-using-css-transitions*/
    (function($) {
        "use strict";

        var $navigationbar = $(".nav"),
            y_pos = $navigationbar.offset().top,
            height = $navigationbar.height();

        //scroll top 0 sticky
        $(document).scroll(function() {
            var scrollTop = $(this).scrollTop();
            if (scrollTop > 0) {
              $navigationbar.addClass("sticky");
            } else {
              $navigationbar.removeClass("sticky");
            }
        });

        //section sticky
        /*$(document).scroll(function() {
            var scrollTop = $(this).scrollTop();
            if ($(window).height() > scrollTop) {
              $navigationbar.removeClass("sticky");
            } else {
              $navigationbar.addClass("sticky");
            }
        });*/

    })(jQuery, undefined);

    $(".menu").click(function(){
      $("#nav").toggleClass("open");
    });
  </script>
