<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<nav id="nav" class="nav" style="justify-content: space-between;">
  <button class="menu">
    <em class="hamburger"></em>
  </button>
  <div class="brand">
    <a href="javascript:void(0)">
      <i ></i>
      <%= link_to customer_menupage_path do %><%= image_tag "https://img.icons8.com/ios/50/000000/food-donor.png",style:"width: 24px;
    margin-right: 10px;" %>Authentic Dinning <% end %>
    </a>
  </div>
  <ul class="navbar">
    <li>
      <a href="javascript:void(0)">
        <% if @current_user %>
          <%= link_to customer_dashboards_path do %><%= image_tag "https://img.icons8.com/ios-filled/50/000000/dashboard.png", style:"width: 23px;
    margin-right: 10px;" %>Dashboard <% end %>
          <%#= link_to "sign-out",destroy_session_path,method:"delete" %>
        <% end %>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <%= link_to clerk_orders_path do %><%= image_tag "https://img.icons8.com/ios-glyphs/30/000000/shopping-bag.png", style:"width: 23px;
    margin-right: 10px;" %>Orders<% end %>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <%= link_to show_carts_path do %><%= image_tag "https://img.icons8.com/ios/50/000000/favorite-cart.png",style:"width: 24px;
    margin-right: 19px;" %>Cart<% end %>
      </a>
    </li>
    <li>
        <%= image_tag "https://img.icons8.com/material-rounded/24/000000/user-male-circle.png" %> <%=@current_user.name%>
    </li>
  </ul>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  /*http://callmenick.com/post/expanding-search-bar-using-css-transitions*/
  (function($) {
      "use strict";

      var $navigationbar = $(".nav"),
          y_pos = $navigationbar.offset().top,
          height = $navigationbar.height();

      //scroll top 0 sticky
      $(document).scroll(function() {
          var scrollTop = $(this).scrollTop();
          if (scrollTop > 0) {
            $navigationbar.addClass("sticky");
          } else {
            $navigationbar.removeClass("sticky");
          }
      });
  })(jQuery, undefined);

  $(".menu").click(function(){
    $("#nav").toggleClass("open");
  });
</script>
