<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <style>
  body{
        padding: 0;
  }
  .Flash-error{
   background: #ac3030;
    margin: 0;
    text-align: center;
    color: white;
  }
  </style>
 <% if flash[:error]  %>
    <p class="Flash-error">
      <%= flash[:error] %>
    </p>
  <% end %>

    <%= yield %>
    <%# <button type="button" class="btn btn-primary">Primary</button> %>
  </body>
</html>
